[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-setup = "*"

[packages]
pillow = "~=7.1"
transformers = ">=2.3.0,<=2.10.0"
seqeval = "~=0.0.12"
pandas = "~=1.0"
torch = "~=1.5"

[requires]
python_version = "3.6"
